<!-- <p>home works!</p> -->

<div class="col-md-12">
    <div class="card">
        <p>Space X Launch Program</p>
        <div class="row">
            <div class="col-md-2">
                <app-card-filter [launchYearDataList]="launchYearDataList" [successfullLanding]="successfullLanding" (filteredVal) ="filterApplied($event)" 
                (ClearFilter) = "clearAllFilter($event)" 
                (actionOnYearClick)="actionPerformedOnClick($event)" (actionOnSuccessfullLaunch)="actionOnLaunchClick($event)" (actionOnSuccessfullLanding)="actionOnLandingClick($event)"></app-card-filter>
            </div>
            <div class="col-md-10">
                <app-mission (missionYearData) ="emitMissionYear($event)" (launchBoolean)="SuccessfullBooleanLaunch($event)" (landingBoolean)="successfullBooleanLanding($event)"></app-mission>
            </div>
        </div>
        <div style="text-align: center;font-weight: bold;padding: 1%;">Developed By: RIMPLE PAHALAJANI</div>
    </div>
</div>